* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Comfortaa', cursive;
	font-family: 'Nunito', sans-serif;
	font-family: 'Raleway', sans-serif;
}

.nav {
	height: 50px;
	background-color: #333;
	text-align: center;
	line-height: 50px;
	font-size: 0;
}

.nav-item {
	display: inline-block;
}

.nav-item a {
	padding: 0 50px;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 2px;
	transition: color 0.2s;
}

.nav-item a:hover {
	color: rgb(121, 121, 214);
}

.header-img {
	position: relative;
	height: 300px;
	background-image: url('../img/monitor-gf7fc280e1_1920.jpg');
	background-size: cover;
	background-position: 0 65%;
}

.header-text {
	position: absolute;
	top: 25%;
	left: 20%;
	transform: translate(-50%, -50%);
	color: #fff;
	z-index: 5;
}

.header-bg {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 5, 9, 0.55);
}

.header-text h1 {
	margin-bottom: 15px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
